/* Variables */
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #212529; }

html {
  scroll-behavior: smooth; }

.container-nav {
  display: flex;
  position: sticky;
  height: 100px;
  align-items: center; }

.contenedor-slider {
  width: 100%;
  background-color: #212529;
  height: 30px;
  display: flex;
  align-items: center; }

.tituloProd, .preg-freq {
  font-size: 45px;
  font-weight: 1000;
  text-align: center;
  margin-top: 100px; }

.contenedor-footer {
  display: flex;
  background: #212529;
  height: 400px;
  margin-top: 100px;
  justify-content: space-around; }

.preg-freq {
  margin-top: 50px; }

.contenedor-preg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  margin-top: 50px; }

.contenedor-preg div {
  border-top: 1px solid; }

.contenedor-preg h3 {
  font-size: 25px;
  margin-top: 20px; }

.contenedor-preg p {
  font-size: 17px; }

.contenedor-preg ul {
  margin-left: 20px;
  font-style: italic; }

ul li {
  font-size: 17px;
  font-weight: 400; }

.fondo-nosotros {
  background-image: url(../assets/nosotros/fondo.jpg);
  height: 100vh;
  background-repeat: round;
  background-attachment: fixed; }

.contenedor-nosotros {
  display: flex;
  justify-content: center;
  padding-top: 200px; }

.titulo-nosotros {
  color: white;
  font-size: 10rem;
  font-weight: 700;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite; }

.titulo-nosotros span {
  position: absolute;
  top: 0;
  left: 0%; }

.titulo-nosotros span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  color: white;
  opacity: 0.8; }

.titulo-nosotros span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  color: white;
  opacity: 0.8; }

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75); }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75); }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75); }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75); }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75); }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75); }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75); } }

.main-titulo {
  text-align: center;
  padding: 100px 0 50px 0; }

.main-nosotros {
  display: flex; }

.main-nosotros div {
  padding: 20px;
  text-align: center; }

.main-nosotros img {
  width: 500px;
  padding: 20px; }

.enc-form {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px; }

.formulario {
  text-align: center; }

.formulario textarea {
  width: 400px;
  margin-bottom: 20px; }

.formulario label input {
  width: 400px; }

.nav-link {
  margin-left: 40px;
  transition: all 0.3s; }

#navbarNav {
  justify-content: end;
  font-size: 20px; }

.nav-link:hover {
  transform: scale(1.05); }

#slider {
  width: 99vw;
  height: 24px;
  background-image: url(../assets/slider.png);
  background-repeat: no-repeat;
  animation: slider 15s infinite linear; }

.box-logo {
  width: 100px;
  height: 70px;
  line-height: 50px; }

@keyframes slider {
  from {
    background-position: -20vw; }
  to {
    background-position: 100vw; } }

/* Variables */
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #212529; }

html {
  scroll-behavior: smooth; }

.section-footer {
  display: flex;
  width: 80%;
  align-items: center; }

.logo-redes {
  width: 70px;
  height: 100px;
  padding: 10px;
  transition: all .5s; }

.logo-redes:hover {
  width: 100px;
  height: 130px; }

.redes-sociales {
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  filter: invert(1); }

.lista-footer {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 70%; }

.lista-footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none; }

.lista-footer ul li a {
  color: white; }

.form-footer {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline; }

.sub-email {
  height: 38px;
  width: 250px; }

.subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.subscribe h2 {
  padding: 10px;
  font-size: 20px;
  color: white; }

.copyright {
  background-color: #212529;
  display: inline-block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.copyright h3 {
  color: white;
  font-size: 12px;
  padding: 20px 0;
  margin: 0%; }

.pMethod {
  display: flex;
  background-color: #212529;
  justify-content: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

.pMethod img {
  padding: 10px 10px; }

/* Variables */
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #212529; }

html {
  scroll-behavior: smooth; }

.cards {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%; }

.card {
  transition: all 0.15s; }

.card h5 {
  font-weight: bold; }

#btn-color {
  background-color: #F98015;
  border-color: #F98015;
  transition: all 0.8s; }

#btn-color:hover {
  background-color: white;
  color: #F98015; }

.card:hover {
  box-shadow: 0px 1px 6px #F98015;
  transform: scale(1.02); }

.titulo-productos {
  text-align: center;
  margin-top: 80px; }

#list-example {
  margin-top: 37px; }

.lista-productos {
  margin-left: 20px; }

.section-productos {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 50px; }

.group-cards {
  width: 100%; }

img.card-img-top.img-productos {
  align-self: center;
  margin: 10px;
  height: 250px;
  object-fit: contain; }

.ubi-btn {
  display: flex;
  justify-content: center; }

.card-body {
  text-align: center; }

@media (max-width: 992px) {
  #btn-nav {
    justify-content: space-between; }
  .box-logo {
    width: 70px;
    height: 70px;
    line-height: 50px;
    justify-self: start; }
  header {
    text-align: center; }
  header .container-nav {
    display: none; }
  .cards {
    flex-direction: column;
    align-items: center; }
  .card {
    margin-bottom: 20px; }
  .contenedor-footer {
    align-items: center; }
  .section-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  h1 {
    text-align: center;
    font-size: 40px !important; }
  .fondo-nosotros {
    background-repeat: no-repeat; }
  .main-nosotros {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 450px) {
  .pMethod img {
    width: 60px; }
  .form-footer {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px; }
  h2, h3 {
    text-align: center; }
  .formulario textarea {
    width: 300px; }
  .formulario label input {
    width: 300px; } }

@media (max-width: 768px) {
  .section-productos {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    margin-top: 50px; }
  #list-example {
    max-width: 100%;
    margin-left: 0%;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0%; }
  .lista-productos {
    width: 90%;
    margin: auto; }
  .contenedor-preg {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 50px;
    margin-top: 50px; }
  .titulo-nosotros {
    font-size: 8rem; }
  .main-nosotros img {
    width: 300px; } }

/* Variables */
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #212529; }

html {
  scroll-behavior: smooth; }
