@media (max-width: 992px) {

    #btn-nav {
        justify-content: space-between;
    }
    
    .box-logo {
        width: 70px;
        height: 70px;
        line-height: 50px;
        justify-self: start;
    } 
    
    header {
        text-align: center;
    }
    
    header .container-nav {
        display: none;
    } 
    
    .cards {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        margin-bottom: 20px;
    }
    
    .contenedor-footer {
        align-items: center;
    }
    
    .section-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    h1 {
        text-align: center;
        font-size: 40px !important;
    }

    .fondo-nosotros {
        background-repeat: no-repeat;
    }

    .main-nosotros {
        flex-direction: column;
        align-items: center;
    }
    
    }

@media (max-width: 450px) {

    .pMethod img {
        width: 60px;
    }
    
    .form-footer {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    h2 , h3{
        text-align: center;
    }

    .formulario textarea {
        width: 300px;
    }
  
    .formulario label input {
        width: 300px;
    }
    
    }

@media (max-width: 768px) {

    .section-productos  {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        margin-top: 50px;
    }
    
    #list-example {
        max-width: 100%;
        margin-left: 0%;
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 0%;
    }
    
    .lista-productos {
        width: 90%;
        margin: auto;
    }

    .contenedor-preg {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 50px;
        margin-top: 50px;
    }

    .titulo-nosotros {
        font-size: 8rem;
    }

    .main-nosotros img {
        width: 300px;
    }
    
    }
    
    