@import "variables";

.cards  {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}

.card {
    transition: all 0.15s;
}

.card h5 {
    font-weight: bold;
}

#btn-color {
    background-color: $color-secundario;
    border-color: $color-secundario;
    transition: all 0.8s;
}

#btn-color:hover {
    background-color: white;
    color: $color-secundario;
}

.card:hover {
    box-shadow: 0px 1px 6px $color-secundario;
    transform: scale(1.02);
}

.titulo-productos {
    text-align: center;
    margin-top: 80px;
}

#list-example {
    margin-top: 37px;
}

.lista-productos {
    margin-left: 20px;
}

.section-productos  {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 50px;
}

.group-cards {
    width: 100%;
}

img.card-img-top.img-productos {
    align-self: center;
    margin: 10px;
    height: 250px;
    object-fit: contain;
}

.ubi-btn {
    display: flex;
    justify-content: center;
}

.card-body {
    text-align: center;
}
